{% load static %}
<script src="https://kit.fontawesome.com/5973111be2.js" crossorigin="anonymous"></script>
<script src="{% static 'inc_mgmt/js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'inc_mgmt/js/js.cookie.min.js' %}" type="text/javascript""></script>
<script src="{% static 'inc_mgmt/js/popper.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'inc_mgmt/bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'inc_mgmt/bootstrap/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'inc_mgmt/bootstrap_select/bootstrap-select.min.css' %}">
<script src="{% static 'inc_mgmt/bootstrap_select/bootstrap-select.min.js' %}"></script>
<!-- <link rel="stylesheet" href="{% static 'inc_mgmt/css/registration.css' %}"> -->
<link rel="stylesheet" href="{% static 'inc_mgmt/css/style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'inc_mgmt/images/favicon.ico' %}"/>
