/* General */
a:not(.btn-secondary) {
	color: #8553e2 !important;
	text-decoration: none !important;
}

a:hover {
	color: #8553e2;
	text-decoration: none !important;
}

a.btn-outline-primary:hover {
	color: #fff !important;
}

label:not(class="form-check-label") {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.custom-control-label:before{
	background-color: #fff;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
	background-color: #8553e2;
	border: 1px solid #8553e2;
	border-color: rgba(133, 83, 226, 0.8);
	box-shadow: 0 1px 1px rgba(133, 83, 226, 0.075) inset, 0 0 8px rgba(133, 83, 226, 0.6);
	outline: 0 none;
}

.custom-control-input:focus ~ .custom-control-label::before {
	border-color: rgba(133, 83, 226, 0.8) !important;
	box-shadow: 0 1px 1px rgba(133, 83, 226, 0.075) inset, 0 0 8px rgba(133, 83, 226, 0.6);
	outline: 0 none;
}

.input-text {
	padding: 5px;
	font-size: 16px;
	font-family: inherit;
	font-weight: 400;
	color: #495057;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="search"]{
	margin-left: 0;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(133, 83, 226, 0.8) !important;
  box-shadow: 0 1px 1px rgba(133, 83, 226, 0.075) inset, 0 0 8px rgba(133, 83, 226, 0.6) !important;
  outline: 0 none;
}

.dropdown-item.active {
	background-color: #E6E9EC;
}

.navbar {
	box-shadow: 0 2px 5px #8553e2;
}

.navbar a:hover:not(.dropdown-item) {
	color: #fff !important;
}

.navbar-logo {
	width: 200px;
	margin-left: 0;
	border: 10px;
	/* filter: drop-shadow(0px 0px 30px #fff); */
}

.navbar-logo:hover {
	width: 200px;
	margin-left: 0;
	border: 10px;
	/* box-shadow: 0 1px 6px #8553e2, 0 1px 4px #8553e2; */
	/* filter: drop-shadow(0.5px 0.5px 5px #000); */
}

.btn:active {
	background-color: #774acb !important;
	border-color: rgba(133, 83, 226, 0.8) !important;
	box-shadow: 0 1px 1px rgba(133, 83, 226, 0.075) inset, 0 0 8px rgba(133, 83, 226, 0.6) !important;
	outline: 0 none;
}

.btn:focus {
	box-shadow: 0 1px 1px rgba(133, 83, 226, 0.075) inset, 0 0 8px rgba(133, 83, 226, 0.6) !important;
	outline: 0 none;
}

.btn-primary:focus {
	border-color: #8553e2 !important;
	background-color: #774acb !important;
}

.btn-outline-primary {
	color: #8553e2;
	border: 2px solid #8553e2;
}

.btn-primary:hover {
	border-color: #8553e2;
	background-color: #774acb;
}

.btn-primary:disabled {
	border-color: #8553e2;
	background-color: #774acb;
}

.btn-outline-primary:hover {
	border-color: #8553e2;
	background-color: #8553e2;
}

.btn-primary {
	background-color: #8553e2;
	border-color: #8553e2;
}

.auto-width-btn {
	width: auto;
}

/* ticket/new */
.new-ticket-attachment-wrap {
	border: 1px solid #8553e2;
	border-radius: 5px;
	margin: 20px 0px 0px 140px;
	padding: 20px;
}

.new-ticket-attachment-wrap2 {
	margin-top: -32px;
	background-color: white;
	width: fit-content;
}

.ticket-new-actions {
	float: left;
	margin: 50px 0 0 0;
}

/* ticket/list */
.ticket-list-actions {
	float: right;
	margin: 10px;
}

.ticket-list-filter {
	width: fit-content;
	margin-left: 200px;
	padding: 10px;
	border: 1px solid #343a40;
	border-radius: 5px;
	/* box-shadow: 0 1px 6px  #8553e2; */
}

/* ticket/* */
.ticket-form {
	padding: 10px;
}

.ticket-input-title {
	width: auto;
}

.ticket-textarea {
	width: 800px;
	height: 200px !important;
	resize: none;
}

.ticket-label {
	margin: 10px 0 0px 0px;
}

.ticket-update-label {
	font-weight: bold;
	font-size: 18;
}

.ticket-file {
	margin: -10px 0 0 10px;
}

.ticket-update-attachment {
	margin-left: 10px;
	margin-top: -10px;
}

.content-wrapper {
	margin: 20px;
}

.ticket-update-div {
	width: fit-content;
	padding: 10px 20px 10px 15px;
	margin: 20px 0 20px 0;
	/* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
	border: 1px solid #000;
	border-radius: 5px;
}

.update-list-div {
	padding: 10px;
	margin: 20px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.label-ticket-update {
	margin-top: 0px;
	margin-bottom: -5px;
	font-style: italic;
}

.ticket-select {
	width: auto;
}

.ticket-btn-save {
	margin-left: 10px;
}

#input-update.ticket-textarea {
	width: -webkit-fill-available;
	height: auto !important;
}

table th {
	font-weight: normal;
}

/* area_list */
.div-area-list {
	width: 30%;
	float: left;
	margin-left: 2%;
	text-align: center;
	/* border: 2px solid #8553e2; */
	border-radius: 5px;
	filter: drop-shadow(0.5px 0.5px 2px #000);	
	background: #8553e2;
	color: white;
	/* box-shadow: 0 1px 6px #8553e2, 0 1px 4px #8553e2; */
}

.div-area-list:hover {
	background: rgb(133,95,226);
}

.area-name {
    font-weight: 500;
	/* text-shadow: 0.5px 0.5px 1px #000; */
}

.form-control {
	/* margin: 10px; */
}

/* activate_account_list */
.list-group.no-markers {
	list-style: none;
}

.table table-striped {
}
